:root {
  /* Шрифти */
  --main-font: 'Roboto', sans-serif;
  --sacondary-font: 'Raleway', sans-serif;

  --logo-color: #000000;
  --accent-color: #2196F3;
  --btn-accent-color: #188CE8;
  --card-bg-color: #EEEEEE;

  /* Світла тема тексту */
  --primary-txt-light: #757575;
  --secondary-txt-light: #212121;

  /* Темна тема тексту */
  --primary-txt-dark: #FFFFFF;
  --secondary-txt-dark: #FFFFFF99;

  /* Світла тема фону */
  --primary-bg-light: #E5E5E5;
  --secondary-bg-light: #F5F4FA;
  --light-bg: #FFFFFF;

  /* Темна тема фону */
  --primary-bg-dark: #2F303A;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-txt-light);
}

/* Header */
.header {
  background-color: var(--light-bg);
}

.logo {
  font-family: var(--sacondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}

.logo-accent {
  color: var(--logo-color);
}

.nav-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-txt-light);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}